@(orders: List[Order], user: User)

@main(orders, user){
	<header>
        <hgroup>
        <a href="">< 前の月</a>
        <h1>2013年 2月</h1>
        <a href="">次の月 ></a>
        </hgroup>
    </header>

    <article>
    	<div class="user">
            <header>
                <span class="loader">Loading</span>
            </header>
        	<table class="display" background="white" border="1px">
        		<thead>
        			<tr>
        				<th width="100px">日付</th>
        				<th width="200px">店名</th>
        				<th width="200px">お弁当</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr>
        				<td></td>
        				<td></td>
        				<td></td>
        			</tr>
        		</tbody>
        	</table>
        </div>
    </article>
}
