@(form: Form[Application.Login])

<html>
    <head>
        <title>OBENTO SYSTEM</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>

        <header>
            <a href="@routes.Orders.index" id="logo"><span>OBENTO</span> SYSTEM</a>
        </header>

        @helper.form(routes.Application.authenticate) {

            @if(form.hasGlobalErrors) {
                <p class="error">
                    @form.globalError.message
                </p>
            }

            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }

            <p>
                <input type="text" name="userId" placeholder="社員ID" value="@form("userId").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="パスワード">
            </p>
            <p>
                <button type="submit">ログイン</button>
            </p>
			</p>
        }

        <p class="note">
        デモ環境には <em>guest</em> / <em>guest</em> でログインできます。
        </p>

    </body>
</html>